<!--Section: Features v.3-->
<div class="container">
  <section class="section feature-box">
  
      <!--Section heading-->
      <h1 class="section-heading pt-4">Why is it so great?</h1>
      <!--Section description-->
      <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
  
      <!--Grid row-->
      <div class="row features-small pt-2">
  
          <!--Grid column-->
          <div class="col-lg-5 mb-r center-on-small-only wow fadeInLeft"  data-wow-delay="0.1s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-7 wow fadeInUp" >
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-bank white-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="feature-title">Safety</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-code white-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="feature-title">Technology</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-money white-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="feature-title">Finance</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
              </div>
              <!--Grid row-->
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </section>
  
</div>

<!--Intro Section-->
<section style="height: 600px;" class="view intro-2 hm-gradient up-right">
  <div class="full-bg-img white-text">
      <div class="container flex-center wow fadeInUp" data-wow-delay="0.1s">
          <div class="row flex-center pt-5 mt-3">
              <!--Section heading-->
  <h2 class="section-heading h1 pt-4">Contact us</h2>
  <!--Section description-->
  <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

  <div class="row">

      <!--Grid column-->
      <div class="col-md-8 col-xl-9">
          <form>

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form">
                          <div class="md-form white-input">
                              <input mdbActive type="text" id="contact-name" class="form-control">
                              <label for="contact-name" class="">Your name</label>
                          </div>
                      </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form">
                          <div class="md-form white-input">
                              <label for="contact-email" class="">Your email</label>
                              <input mdbActive type="text" id="contact-email" class="form-control">
                          </div>
                      </div>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-12">
                      <div class="md-form white-input">
                          <label for="contact-Subject" class="">Subject</label>
                          <input mdbActive type="text" id="contact-Subject" class="form-control">
                      </div>
                  </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                      <div class="md-form white-input">
                          <label for="contact-message">Your message</label>
                          <textarea mdbActive type="text" id="contact-message" class="md-textarea"></textarea>
                      </div>

                  </div>
              </div>
              <!--Grid row-->

          </form>

          <div class="center-on-small-only float-right">
              <a class="btn btn-primary waves-light" mdbRippleRadius>Send</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 col-xl-3">
          <ul class="contact-icons">
              <li><i class="fa fa-map-marker fa-2x"></i>
                  <p>San Francisco, CA 94126, USA</p>
              </li>

              <li><i class="fa fa-phone fa-2x"></i>
                  <p>+ 01 234 567 89</p>
              </li>

              <li><i class="fa fa-envelope fa-2x"></i>
                  <p>contact@mdbootstrap.com</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>
          </div>
      </div>
  </div>
</section>
<section class="section feature-box container" style="margin-top: 65px;">
            <h2 class="section-heading pt-4 text-center app-text-blue wow fadeInUp"  data-wow-delay="0.1s">Profesionální postup</h2>
            <!-- <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
         -->
            <hr class="app-hr-blue wow zoomIn">
            <!--Grid row-->
            <div class="row features-big text-center app-stepper">
        
                <!--Grid column-->
                <div class="col-md-3 mb-r wow fadeInRight" data-wow-delay="0.1s">
                    <i class="fa fa-area-chart red-text app-circle-chart"></i>
                    <h5 class="feature-title">Analýza</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-md-3 mb-r wow fadeInRight" data-wow-delay="0.2s">
                    <i class="fa fa-pencil-square-o cyan-text app-circle-chart"></i>
                    <h5 class="feature-title">Návrh</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-md-3 mb-r wow fadeInRight" data-wow-delay="0.3s">
                    <i class="fa fa-code orange-text app-circle-chart"></i>
                    <h5 class="feature-title">Zpracování</h5>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                </div>
                <div class="col-md-3 mb-r wow fadeInRight" data-wow-delay="0.4s">
                        <i class="fa fa-wrench orange-text app-circle-chart"></i>
                        <h5 class="feature-title">Údržba</h5>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                <!--Grid column-->
        
            </div>
            <!--Grid row-->
        
        </section>