#loader-page {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -194px;
  margin-top: -71px;
}
#loader-page #logo {
  width: 350px;
  margin-bottom: -9px;
  margin-right: -5px;
}
#loader-page #logo-eye {
  width: 72px;
  position: absolute;
  right: 51px;
  top: -1px;
}
